{% extends 'app/base.html' %}
{% load static %}
{% block title %}Bottom Wears{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
     <div class="col-sm-3">
       <div class="list-group">
         <a href="{% url 'bottomwear' %}" class="list-group-item list-group-item-action active" aria-current="true">
           Bottom Wears
         </a>
         {% comment %} <a href="{% url 'mobiledata' 'Redmi' %}" class="list-group-item list-group-item-action">Redmi</a> {% endcomment %}
       
         {% comment %} <a class="list-group-item list-group-item-action disabled">A disabled link item</a> {% endcomment %}
       </div>
     </div>
     <div class="col-sm-8 offset-sm-1">
       <div class="row">
         {% for product in bottomwears %}
          <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="btn">
               <div class="item">
                <img src="{{product.product_image.url }}" alt="" height="300" class="">
                <div class="fw-bold">{{product.title}}</div>
                 <div class="fw-bold">{{product.discounted_price}} 
                  <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                 </div>
             </div>
            </a>
           </div>
         {% endfor %}
       </div>
     </div>
  </div>
 </div>
{% endblock main-content %}